.main {
  padding: 1.5rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.main-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "menu rules" "menu rules";
}

.menu {
  grid-area: menu;
}

.rules {
  grid-area: rules;
}

.info-list {
  list-style-type: none;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 38%;
}

.github-icon {
  margin-bottom: 1.8rem;
  color: rgb(150, 100, 255);
}

.github-span {
  font-size: 1.48rem;
  color: rgba(150, 100, 255, 0.88);
}

.menu {
  box-shadow: -15px 15px 10px rgba(0, 0, 255, 0.18);
  border: 0.22rem solid rgba(2, 2, 2, 0.9);
  border-radius: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8));
  margin-left: 68%;
  margin-top: 5.5rem;
  padding: 0 0.4rem;
  width: 32rem;
  height: 27rem;
  transition: all 0.8s ease-in-out;
}

.play-btn {
  border: 0.2rem solid rgba(2, 2, 2, 0.9);
  border-radius: 2rem;
  margin-top: 1.2rem;
  width: 9rem;
  height: 3.2rem;
  background-image: rgba(255, 230, 230, 0.69);
  font-family: inherit;
  text-transform: uppercase;
}

.play-btn:hover {
  border: 0.22rem solid rgba(2, 2, 25, 0.86);
  border-radius: 2rem;
  color: rgba(255, 10, 10, 0.78);
  margin-top: 1.2rem;
  width: 9.18rem;
  height: 3.48rem;
  background-image: rgba(255, 230, 230, 0.69);
  font-family: inherit;
}

.play-btn:active {
  color: rgba(255, 1, 1, 0.88);
  border: 0.24rem solid rgba(2, 2, 25, 0.79);
  border-radius: 2rem;
  margin-top: 1.2rem;
  width: 8.98rem;
  height: 3.08rem;
  background-image: linear-gradient(rgba(255, 200, 200, 0.6), rgba(230, 200, 230, 0.6), rgba(200, 200, 255, 0.6));
  font-family: inherit;
}

.main-title {
  font-weight: 700;
  font-stretch: expanded;
  font-size: 4.1rem;
  color: rgba(0, 0, 140, 0.85);
  transform: translateY(-15px);
}

.id-label {
  color: rgba(0, 0, 100, 0.72);
  font-size: 1.54rem;
}

.btn-text {
  color: rgba(0, 0, 100, 0.72);
  font-size: 1.6rem;
}

h3 {
  margin: 0;
}

.newUserInput {
  border: 0.2rem solid rgba(2, 2, 2, 0.9);
  border-radius: 2rem;
  outline: none;
  margin-top: 1.2rem;
  width: 16rem;
  height: 3.35rem;
  color: rgba(70, 60, 255, 0.85);
  background-color: rgba(102, 102, 255, 0.52);
  font-size: 2.8rem;
  font-stretch: expanded;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Pixelify Sans", cursive;
}

.newUserInput:focus {
  border: 0.1rem inset rgba(30, 30, 255, 0.85);
  height: 3.5rem;
  color: rgba(255, 100, 100, 0.95);
  background-color: rgba(22, 12, 122, 0.65);
}

.btn-tag {
  border: 0.2rem solid rgba(2, 2, 2, 0.9);
  border-radius: 2rem;
  margin-top: 1.2rem;
  width: 9rem;
  height: 3.2rem;
  background-image: rgba(255, 230, 230, 0.69);
  font-family: inherit;
  text-transform: uppercase;
}

.submit-answer {
  font-size: 1.2rem;
  font-stretch: expanded;
  font-weight: 700;
}

.btn-tag:hover {
  border: 0.22rem solid rgba(2, 2, 25, 0.8);
  color: rgba(255, 10, 10, 0.78);
  border-radius: 2rem;
  margin-top: 1.2rem;
  width: 9.18rem;
  height: 3.48rem;
  background-image: rgba(255, 230, 230, 0.69);
  font-family: inherit;
}

.btn-tag:active {
  color: rgba(255, 10, 10, 0.58);
  border: 0.24rem solid rgba(2, 2, 25, 0.79);
  border-radius: 2rem;
  margin-top: 1.2rem;
  width: 8.98rem;
  height: 3.08rem;
  background-image: linear-gradient(rgba(255, 200, 200, 0.6), rgba(230, 200, 230, 0.6), rgba(200, 200, 255, 0.6));
  font-family: inherit;
}

.text-field {
  border: 0.2rem solid rgba(2, 2, 2, 0.9);
  border-radius: 2rem;
  outline: none;
  margin-top: 1.2rem;
  width: 12rem;
  height: 4rem;
  color: rgba(70, 60, 255, 0.85);
  background-color: rgba(102, 102, 255, 0.52);
  font-size: 2.5rem;
  font-stretch: expanded;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Pixelify Sans", cursive;
}

.text-field:focus {
  border: 0.32rem inset rgba(30, 30, 30, 0.85);
  height: 4.5rem;
  color: rgba(255, 100, 100, 0.95);
  background-color: rgba(22, 12, 122, 0.65);
}

.close-btn {
  background-color: rgba(255, 150, 150, 0.58);
  transform: translate(18.5rem, -1.7rem);
  width: 3.95rem;
  height: 3.6rem;
  border-radius: 1.3rem;
}

.close-btn:hover {
  transform: translate(18.5rem, -1.7rem);
  width: 3.99rem;
  height: 3.65rem;
  border-radius: 1.3rem;
}

.close-btn:active {
  transform: translate(18.5rem, -1.7rem);
  width: 3.89rem;
  height: 3.55rem;
  border-radius: 1.3rem;
}

.math-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "menu rules" "menu rules";
}

.id-entry {
  z-index: -1;
  font-size: 2.5rem;
  color: rgb(255, 50, 50);
}

.user-tag {
  transform: translate(-2.3rem, -3.1rem);
  text-align: end;
  position: relative;
  font-size: 1.75rem;
  color: rgba(5, 5, 5, 0.95);
}

.questionaire {
  display: flex;
  flex-direction: column;
  box-shadow: -15px 15px 10px rgba(0, 0, 255, 0.18);
  border: 0.22rem solid rgba(2, 2, 2, 0.9);
  border-radius: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translateY(-12rem);
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8));
  height: 42.8rem;
  margin-top: 10rem;
}

.questions {
  transform: translateY(-2rem);
  display: flex;
}

.calc-sign {
  transform: translateY(6.5rem);
  width: 15rem;
  height: 10rem;
  margin-right: 3.9rem;
  margin-left: 3.9rem;
  transition: all 0.8 ease-in-out;
  color: rgba(0, 0, 100, 0.72);
  animation: rotate-scale-up;
  animation-duration: 400ms;
}

.firstNumber, .secondNumber {
  font-size: 7rem;
  font-weight: 700;
  color: rgba(250, 2, 2, 0.99);
}

.showGameRules {
  transform: translate(34rem, -55rem);
  background-color: rgb(140, 10, 255);
  opacity: 1;
}

.hiddenRules {
  opacity: 0;
}

.move-left {
  transform: translateX(-20rem);
}

.hidden {
  transform: translateY(-100rem);
}

.show {
  transform: translateY(0);
}

h2 {
  margin: 0;
  font-size: 4rem;
  font-weight: 700;
  color: rgba(255, 3, 3, 0.98);
}

span {
  font-size: 4.5rem;
  font-weight: 700;
  color: rgba(255, 3, 3, 0.98);
}

p {
  color: rgba(0, 0, 100, 0.72);
  font-weight: 500;
}

.icon-x {
  position: relative;
}

#menu-rules {
  transition: all 0.8s ease-in-out;
}

.rules > p {
  text-align: left;
}

.rules {
  margin-top: 0.8rem;
  margin-right: 3.5rem;
  border: 0.22rem solid rgba(2, 2, 2, 0.9);
  border-radius: 2rem;
  box-shadow: -15px 15px 10px rgba(0, 0, 255, 0.18);
  background-image: rgb(140, 10, 255);
  width: 45rem;
  height: 40rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8));
  text-align: center;
  padding-top: 1rem;
  padding-left: 1.5rem;
}

.labels {
  color: rgba(0, 0, 100, 0.72);
  font-size: 1.79rem;
  font-weight: 700;
}

.rules-set {
  font-size: 2rem;
}

.rules-title {
  font-size: 3.5rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: rgba(255, 230, 230, 0.69);
  background-repeat: cover;
}

button {
  font-size: 2rem;
  color: rgba(0, 0, 100, 0.72);
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-2 0:22:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
body {
  font-family: "Pixelify Sans", cursive;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */