$bg: linear-gradient( rgba(40, 60, 255, 0.65),rgba(40, 60, 255, 0.45), rgba(50, 80, 255, 0.25));
$linear-one: rgba(255, 230, 230, 0.69);
$linear-two: linear-gradient(rgba(255, 255, 255, 0.30), rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.80));
$font-color: rgba(0, 0, 100, 0.72);
$btn-bg: rgba(84, 67, 255, 0.3) ;
$btn-border: rgba(140, 180, 255, 0.9);
$colors10: rgba(84, 67, 214, 1);
$colors30: white;
$colors60: rgba(40, 60, 255, 0.5);
$alert: rgba(255, 70, 70, 0.8);

// Font Sizes
$font: 1.5rem;
$title: 2.23rem;

// Margins 
$top-margin: 2.5rem;
$bottom-margin: 2.5rem;
$left-margin: 2.5rem;
$right-margin: 2.5rem;

// Border Radius 
$border-radius: 2.5rem;
$border: 0.22rem solid rgba(2, 2, 2, 0.66);
$border-btn: 0.20rem solid rgba(2, 2, 2, 0.66);
$border-shadow: -15px 15px 10px rgba(0, 0, 255, 0.18);
