@use '../partials/variables' as *;
// Index page

// Grid setup
.main {
    padding: 1.5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.main-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "menu rules"
    "menu rules";
}

.main-main {
    animation: bounce-top;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1.2s;
}

.menu {
    grid-area: menu;
}

.rules {
    grid-area: rules;
}
