@use '../partials/variables' as *;
// Index page

// Grid setup
.main {
    padding: 1.5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.main-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "menu rules"
    "menu rules";
}

.menu {
    grid-area: menu;
}

.rules {
    grid-area: rules;
}
