@use '../partials/variables' as *;


.math-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "menu rules"
    "menu rules";
}

.id-entry {
    z-index: -1;
    font-size: 2.5rem;
    color: rgba(255, 50, 50, 1);
}

.user-tag {
    transform: translate(-2.3rem, -3.1rem);
    text-align: end;
    position: relative;
    font-size: 1.75rem;
    color: rgba(5, 5, 5, 0.95);
}

.questionaire {
    display: flex;
    flex-direction: column;
    box-shadow: $border-shadow;
    border: $border;
    border-radius: $border-radius;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translateY(-12rem);
    background-image: $linear-two;
    height: 48.80rem;
    margin-top: 10rem;
}

.questions {
    transform: translateY(-4rem);
    display: flex;
}

.calc-sign {
    transform: translateY(6.5rem);
    width: 15rem; height: 12rem;
    margin-right: 3.9rem;
    margin-left: 3.9rem;
    transition: all 0.8 ease-in-out;
    color: $font-color;
    animation: rotate-scale-up;
    animation-duration: 400ms;
    cursor: pointer;
}

.animate-sign {
    animation: rotate-scale-up;
    animation-duration: 400ms;
}

.firstNumber, .secondNumber {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 1;
    font-size: 7rem;
    font-weight: 700;
    margin: 0;
    margin-top: 8rem;
    color: rgba(100, 2, 250, 0.99);
}

.resultDisplay {
    cursor: pointer;
    font-size: 5.4rem;
    p {
        margin: 0;
    }
}

.correctAnswer{
    color: rgba(0, 190, 0, 0.9);
}

.wrongAnswer {
    color:rgba(250, 2, 2, 0.99)
}

.operator {
    color: rgba(250, 2, 2, 0.99);
    font-size: 3rem;
    margin: 0;
}