@use '../partials/variables' as *;


.math-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "menu rules"
    "menu rules";
}

.id-entry {
    z-index: -1;
    font-size: 2.5rem;
    color: rgba(255, 50, 50, 1);
}

.user-tag {
    transform: translate(-2.3rem, -3.1rem);
    text-align: end;
    position: relative;
    font-size: 1.75rem;
    color: rgba(5, 5, 5, 0.95);
}

.questionaire {
    display: flex;
    flex-direction: column;
    box-shadow: $border-shadow;
    border: $border;
    border-radius: $border-radius;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translateY(-12rem);
    background-image: $linear-two;
    height: 42.80rem;
    margin-top: 10rem;
}

.questions {
    transform: translateY(-5rem);
    display: flex;
}

.calc-sign {
    width: 15rem; height: 22rem;
    margin-right: 3.9rem;
    margin-left: 3.9rem;
    transition: all 0.5 ease-in-out;
    color: $font-color;
    animation: rotate-scale-up;
    animation-duration: 400ms;
}

.firstNumber, .secondNumber {
    font-size: 7rem;
    font-weight: 700;
    color: rgba(250, 2, 2, 0.99);
}