@use '../partials/variables' as *;


// Button Click Animation
.showGameRules {
    transform: translate(35rem, -55rem);
    background-color: rgba(140, 10, 255, 1);
    opacity: 1;
}
// 
.hiddenRules {
    opacity: 0;
}

.move-left {
    transform: translateX(-20rem);
}

.hidden {
    transform: translateY(-100rem);
}

.show {
    transform: translateY(0);
}

h2 {
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
    color: rgba(250, 3, 3, 0.58);
}

span {
    font-size: 4.5rem;
    font-weight: 700;
    color: rgba(250, 3, 3, 0.58);
}

p {
    color: $font-color;
    font-weight: 500;
}

.icon-x {
    position: relative;
}

#menu-rules {
    transition: all 0.8s ease-in-out;
}

.rules > p {
    text-align: left;
}

.rules {
    margin-top: 0.8rem;
    margin-right: 3.5rem;
    border: $border;
    border-radius: $border-radius;
    box-shadow: $border-shadow;
    background-image: rgba(140, 10, 255, 1);
    width: 45rem; height: 40rem;
    background-image: $linear-two;
    text-align: center;
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.labels {
    color: $font-color;
    font-size: 1.79rem;
    font-weight: 700;
}   

.rules-set {
    font-size: 2rem;
}

.rules-title {
        font-size: 3.5rem;
}


